.input {
  width: 100%;
}

.error-text {
  position: absolute;
  color: #E4003A;
}

.input__error {
  border-color: #E4003A !important;
}

.input-bg {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.8);
}

.input-bg::placeholder {
  color: white;
  opacity: 1;
}